{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<img src='../../static/img/about.png' alt=""/>

<br/>
<br />
<p>Welcome to Job Seeker where you can do job search, resume management, advice from career experts, plus message boards on a variety of topics.</p>

<p>Job Seeker is..</p>
<ul>
    <li>Your source for employment information and inspiration</li>
    <li>The place to manage your career</li>
    <li>Your pathway to career success</li>
    <li>Tools to help job seekers, students, businesses and career professionals</li>
</ul>
<p>Job Seeker Mission:</p>
<p>To deliver integrated, easy-to-understand workforce information that helps job seekers, students, workers, workforce intermediaries, and employers develop their capacity and make sound economic decisions in the new economy.</p>

<p>Job Seeker Vision:</p>
<p>To be the nation's most trustworthy provider of comprehensive, integrated, relevant, and personalized workforce information tools and resources on any desired electronic delivery system. These tools and resources serve job seekers, students, workers, workforce intermediaries, and employers to enhance their employment opportunities and business prosperity.</p>

{% endblock %}
